/* Footer */

.footer{
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    align-items: center;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.248);
}

.footerLinks{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
}

.footerLink{
    text-decoration: none;
    color: grey;
}

.footerText{
    font-size: 20px;
    line-height: 18px;
    color: grey;
}